################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Flex_SGM/Help/IngBitacoraCapBasica.pptx
/Flex_SGM/Help/~$IngBitacoraCapBasica.pptx
