@charset "UTF-8";
.user-profile img {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-right: 10px
}

html {
    /*  font-family: open sans, sans-serif;*/
    font-family: Calibri, Helvetica;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
Body {
    background-color: whitesmoke;
    padding-top: 150px;
}
Bigf {
    font-size: 30px
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.cbg {
    border: 10px solid medium !important;
    border-color: dimgrey !important;
    font-size: 16px !important;
    background-color: #f2f6f8 !important;
}

.cbv {
    border: 10px solid green !important;
    border-color: green !important;
}

.cbr {
    border: 10px solid red !important;
    border-color: red !important;
}

body ::-webkit-scrollbar {
    background-color: #ccc !important;
}

body ::-webkit-scrollbar-thumb {
    background-color: #6b8cb0 !important;
}
hr {
    padding: 1px;
}
.container {
    width: 95%;
    padding: 0
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
h1, h2 {
    color: #D8773e;
    font-weight: bold;
}

textarea {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}
    textarea:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    }


input[type='checkbox'] {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 6px;
    border: 2px solid #555;
}

.checkbox2 {
    width: 20px!important;
    height: 20px!important;

}

    input[type='checkbox']:checked {
        background: #afa;
    }

.dropdown-menu2 {
    z-index: -1 !important;
    float: left;
    overflow: hidden;
    background-color: slategray;
    display: none;
    font-size: 23px;
    left: 0;
    list-style: none outside none;
    position: absolute;
    top: 100%;
    border: 2px solid #4aabed;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}
/*----X panel-----*/
.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease
}
.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px
}
    .x_title .filter {
        width: 40%;
        float: right
    }
    .x_title h2 {
        margin: 5px 0 6px;
        float: left;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap
    }
        .x_title h2 small {
            margin-left: 10px
        }
    .x_title span {
        color: #BDBDBD
    }
.x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px
}
    .x_content h4 {
        font-size: 16px;
        font-weight: 500
    }
/*-------------------------*/
@media (max-width: 1200px) {
    .x_title h2 {
        width: 62%;
        font-size: 17px
    }

    .tile,
    .graph {
        zoom: 85%;
        height: inherit
    }
}
@media (max-width: 1270px) and (min-width: 192px) {
    .x_title h2 small {
        display: none
    }
}

/********************************************************/
#BigVideo {
    margin-top: 70px;
}
    #BigVideo .jumbotron h1 {
        font-size: 10em;
        font-weight: lighter;
    }
#Nav a {
    color: aliceblue;
}
    #Nav a:hover {
        color: #333;
    }
video {
    /*z-index:-100;*/
    position: relative;
    /*display: block;*/
    width: 100%;
    overflow: auto;
    padding: 0px;
    margin: 0px;
}

.noover {
    overflow: hidden;
}
.Overlay {
    z-index: 1000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    background-color: rgba(0,0,0,0.5);
}
#Nav .navbar-right {
    padding-right: 8px;
    font-family: Calibri;
    font-size: 16px;
    line-height: 24px;
}
.navbar {
    margin-bottom: 0;
}
#Nav3 .navbar-fixed-top {
    top: 0px;
    background-color: #FFF;
    text-align: right;
    height: 40px;
}
    #Nav3 .navbar-fixed-top h3 {
        color: #6b8cb0;
    }
#Nav2 .navbar-fixed-top {
    top: 100px;
    background-color: #f0e6c2;
}
#Nav2 .navbar-right {
    padding-right: 20px;
    color: #999;
}
#Nav2 .navbar-fixed-top .navbar-brand {
    color: #FFF;
    padding-left: 45px;
}
.navbar-default .navbar-brand {
    margin-top: -15px;
    color: #FFF;
}
.navbar-default .navbar-text {
    color: #000;
}
.Divider-Vertical {
    height: 25px;
    margin: 15px 20px;
    border-right: 1px solid #FFF;
}
.Divider-Vertical-2 {
    height: 20px;
    margin-top: 15px 20px 20px 10px;
    border-right: 1px solid #999;
}
.Divider-Vertical-3 {
    height: 250px;
    border-right: 1px solid #999;
}
.navbar-default {
    top: 40px;
    background-color: #6b8cb0;
    padding-top: 10px;
    padding-bottom: 15px;
    /*	background-color: rgba(0,0,0,0.0);
	border-color: rgba(0,0,0,0.0); */
}
#Nav2 a:hover {
    text-decoration: none;
    color: #D8773e;
}
#Nav2 .navbar-right:hover {
    display: block;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
}
.FNG_Blue {
    color: #6c8cB0;
    font-size: 30px;
}
.LogoPaddingFNG {
    Padding-top: 44px;
    Padding-bottom: 44px;
}
.LogoPadding {
    Padding-top: 60px;
}
.LocationPadding {
    padding-left: 15%;
    padding-right: 15%;
}
/**************************************** Footer *********************/
.Footer {
    padding-top: 20px;
    background-color: #000;
    padding-bottom: 80px;
    color: #FFF;
}
.FooterLower {
    background-color: #21393f;
    padding-bottom: 30px;
}
    .FooterLower a {
        text-decoration: none;
        color: #999;
    }
.Footerpadding-left {
    padding-left: 20px;
}
.Footerpadding-right {
    padding-right: 20px;
}
.Footer .col-lg-2 li a {
    text-decoration: none;
    color: #999;
}
    .Footer .col-lg-2 li a:hover {
        color: #6c8cb0;
    }
.FooterBold-Text {
    font-family: Calibri;
    font-size: 26px;
}
.Footer .col-lg-2 ul {
    list-style-type: none;
}
    .Footer .col-lg-2 ul > li {
        padding-bottom: 5px;
    }
.fa-chevron-left {
    padding-top: 200px;
}
.fa-chevron-right {
    padding-top: 200px;
}


/**************************************** MOBILE *********************/

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: whitesmoke !important;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
@media (max-width: 1200px) {
    #BigVideo .jumbotron h1 {
        font-size: 5em;
    }
    #Engineering img {
        padding-left: 0;
    }
}
@media (max-width: 860px) {
    #Nav2 {
        display: none;
    }

    #Nav2 {
        display: none;
    }

    }



@media (max-width: 767px) {
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height: 480px;
        max-width: 320px;
    }


    #Nav2 {
        display: none;
    }
    #Nav3 .navbar-fixed-top h3 {
        color: #6b8cb0;
        font-size: 15px;
    }

    li{
        border-bottom:dashed;
    }

    #Nav .navbar-right {
        padding-right: 8px;
        font-family: Calibri;
        font-size: 15px;
        line-height: 24px;

    }
    /****************** MOBILE BigVideo ****/
    #BigVideo .jumbotron h1 {
        font-size: 2em;
    }
    #BigVideo h1 {
        font-size: 20px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #BigVideo {
        /*background-image:url(../img/Home_Small.jpg);*/
        background-color: gray;
        height: 300px;
    }
    video {
        display: none;
    }
    .LogoPadding {
        Padding-top: 20px;
    }
}
/*end*/
/* General ===================================== */
section.content {
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
/* Page Loader ================================= */
.page-loader-wrapper {
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
    overflow: hidden;
    text-align: center;
}
    .page-loader-wrapper p {
        font-size: 18px;
        margin-top: 5px;
        font-weight: bold;
        color: #444;
    }
    /*
    .page-loader-wrapper img {
        width: auto;
        height: 200px;
        max-width: 200px;
        max-height: 200px;
    }
*/
.page-loader-wrapper .loader {
    position: relative;
    top: calc(30%);
}
/* Preloaders ================================== */
.preloader img {
    width: auto;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
}
.preloader {
    display: inline-block;
    position: relative;
    width: 200px;
    height: auto;
}
.preloader2 {
    display: inline-block;
    position: relative;
    width: 400px;
    height: auto;
}
/*---------------------Build----------------------------------*/

a,
a:visited,
a:focus,
a:active,
:visited,
:focus,
:active,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 0
}

ul.msg_list li {
    background: #f7f7f7;
    padding: 5px;
    display: -ms-flexbox;
    display: flex;
    margin: 6px 6px 0;
    width: 96% !important
}

    ul.msg_list li:last-child {
        margin-bottom: 6px;
        padding: 10px
    }

    ul.msg_list li a {
        padding: 3px 5px !important
    }

        ul.msg_list li a .image img {
            border-radius: 2px 2px 2px 2px;
            -webkit-border-radius: 2px 2px 2px 2px;
            float: left;
            margin-right: 10px;
            width: 11%
        }

        ul.msg_list li a .time {
            font-size: 11px;
            font-style: italic;
            font-weight: bold;
            position: absolute;
            right: 35px
        }

        ul.msg_list li a .message {
            display: block !important;
            font-size: 16px
        }

button,
.buttons,
.btn,
.modal-footer .btn + .btn {
    margin-right: 2px
}

.btn-group-vertical .btn,
.btn-group .btn {
    margin-bottom: 0;
    margin-right: 0
}

.thumbnail .image {
    height: 120px;
    overflow: hidden
}

.caption {
    padding: 9px 5px;
    background: #F7F7F7
}

    .caption p {
        margin-bottom: 5px
    }
.thumbnail {
    height: auto;
    overflow: hidden
}
.view {
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default
}

    .view .mask,
    .view .content {
        position: absolute;
        width: 100%;
        overflow: hidden;
        top: 0;
        left: 0
    }

    .view img {
        height: 120px;
        width: auto;
        max-width: 309px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .view .tools {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 17px;
        padding: 3px;
        background: rgba(0, 0, 0, 0.35);
        margin: 43px 0 0 0
    }

.mask.no-caption .tools {
    margin: 90px 0 0 0
}

.view .tools a {
    display: inline-block;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    padding: 0 4px
}

.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}


.col-md-55 {
    width: 60%;
    margin-bottom: 10px
}

@media (min-width: 768px) {
    .col-md-55 {
        width: 50%
    }
}

@media (min-width: 992px) {
    .col-md-55 {
        width: 35%
    }
}

@media (min-width: 1200px) {
    .col-md-55 {
        width: 20%
    }
}

.col-md-55,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px
}


.view-first img {
    transition: all 0.2s linear
}

.view-first .mask {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in-out
}

.view-first .tools {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out
}

.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear
}

.view-first:hover img {
    transform: scale(1.1)
}

.view-first:hover .mask {
    opacity: 1
}

.view-first:hover .tools,
.view-first:hover p {
    opacity: 1;
    transform: translateY(0px)
}

.view-first:hover p {
    transition-delay: 0.1s
}

ul.stats-overview {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    margin-bottom: 10px
}

    ul.stats-overview li {
        display: inline-block;
        text-align: center;
        padding: 0 15px;
        width: 30%;
        font-size: 14px;
        border-right: 1px solid #e8e8e8
    }

        ul.stats-overview li:last-child {
            border-right: 0
        }

        ul.stats-overview li .name {
            font-size: 12px
        }

        ul.stats-overview li .value {
            font-size: 14px;
            font-weight: bold;
            display: block
        }

        ul.stats-overview li:first-child {
            padding-left: 0
        }
/*---------------------Build----------------------------------*/
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 50px;
    height: 50px;
    font-family: 'sans-serif', Roboto;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    outline: none;
}

    .button:hover {
        background-color: #6dbcff;
        box-shadow: 0px 15px 20px rgb(0,0,0);
        color: #fff;
        transform: translateY(-3px);
    }

.feedback {
    background-color: #31B0D5;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    border-color: #46b8da;
    position: fixed;
    bottom: 20px;
    right: 30px;
    text-shadow: 5px 5px 10px black;
}

.resizable-input {
    /* make resizable */
    border: 1px solid;
    padding: 1px;
    width: 300px;
    resize: both;
    overflow: auto;
}
    /* let <input> assume the size of the wrapper */
    .resizable-input > input {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    }
    /* add a visible handle */
    .resizable-input > after {
        display: inline-block;
        vertical-align: bottom;
        margin-left: -16px;
        width: 16px;
        height: 16px;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAJUlEQVR4AcXJRwEAIBAAIPuXxgiOW3xZYzi1Q3Nqh+bUDk1yD9sQaUG/4ehuEAAAAABJRU5ErkJggg==");
        cursor: ew-resize;
    }

#modalPoll {
    position: fixed;
    bottom: 4px;
    right: 10px;
}

.icon_creditcard_code {
    font-size: 1.7em;
}
