@charset "UTF-8";

* {
    font-family: Calibri, Helvetica;
}

Body {
    background-color: whitesmoke;
    padding-top: 150px;
}

Bigf {
    font-size: 30px
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


input[type='checkbox'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 6px;
    border: 2px solid #555;
}

    input[type='checkbox']:checked {
        background: #afa;
    }


#dropdown-menu2 {
    z-index: 1200 !important;
    background-color: slategray;
}

.dropdown-menu2 {
    z-index: 1200 !important;
    background-color: slategray;
}

/* Card ======================================== */
.card {
    background: #fff;
    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

    .card .card-inside-title {
        margin-top: 25px;
        margin-bottom: 15px;
        display: block;
        font-size: 15px;
        color: #000;
    }

        .card .card-inside-title small {
            color: #999;
            display: block;
            font-size: 11px;
            margin-top: 5px;
        }

            .card .card-inside-title small a {
                color: #777;
                font-weight: bold;
            }

        .card .card-inside-title:first-child {
            margin-top: 0;
        }

    .card .bg-red,
    .card .bg-pink,
    .card .bg-purple,
    .card .bg-deep-purple,
    .card .bg-indigo,
    .card .bg-blue,
    .card .bg-light-blue,
    .card .bg-cyan,
    .card .bg-teal,
    .card .bg-green,
    .card .bg-light-green,
    .card .bg-lime,
    .card .bg-yellow,
    .card .bg-amber,
    .card .bg-orange,
    .card .bg-deep-orange,
    .card .bg-brown,
    .card .bg-grey,
    .card .bg-blue-grey,
    .card .bg-black {
        border-bottom: none !important;
        color: #fff !important;
    }

        .card .bg-red h2, .card .bg-red small, .card .bg-red .material-icons,
        .card .bg-pink h2,
        .card .bg-pink small,
        .card .bg-pink .material-icons,
        .card .bg-purple h2,
        .card .bg-purple small,
        .card .bg-purple .material-icons,
        .card .bg-deep-purple h2,
        .card .bg-deep-purple small,
        .card .bg-deep-purple .material-icons,
        .card .bg-indigo h2,
        .card .bg-indigo small,
        .card .bg-indigo .material-icons,
        .card .bg-blue h2,
        .card .bg-blue small,
        .card .bg-blue .material-icons,
        .card .bg-light-blue h2,
        .card .bg-light-blue small,
        .card .bg-light-blue .material-icons,
        .card .bg-cyan h2,
        .card .bg-cyan small,
        .card .bg-cyan .material-icons,
        .card .bg-teal h2,
        .card .bg-teal small,
        .card .bg-teal .material-icons,
        .card .bg-green h2,
        .card .bg-green small,
        .card .bg-green .material-icons,
        .card .bg-light-green h2,
        .card .bg-light-green small,
        .card .bg-light-green .material-icons,
        .card .bg-lime h2,
        .card .bg-lime small,
        .card .bg-lime .material-icons,
        .card .bg-yellow h2,
        .card .bg-yellow small,
        .card .bg-yellow .material-icons,
        .card .bg-amber h2,
        .card .bg-amber small,
        .card .bg-amber .material-icons,
        .card .bg-orange h2,
        .card .bg-orange small,
        .card .bg-orange .material-icons,
        .card .bg-deep-orange h2,
        .card .bg-deep-orange small,
        .card .bg-deep-orange .material-icons,
        .card .bg-brown h2,
        .card .bg-brown small,
        .card .bg-brown .material-icons,
        .card .bg-grey h2,
        .card .bg-grey small,
        .card .bg-grey .material-icons,
        .card .bg-blue-grey h2,
        .card .bg-blue-grey small,
        .card .bg-blue-grey .material-icons,
        .card .bg-black h2,
        .card .bg-black small,
        .card .bg-black .material-icons {
            color: #fff !important;
        }

        .card .bg-red .badge,
        .card .bg-pink .badge,
        .card .bg-purple .badge,
        .card .bg-deep-purple .badge,
        .card .bg-indigo .badge,
        .card .bg-blue .badge,
        .card .bg-light-blue .badge,
        .card .bg-cyan .badge,
        .card .bg-teal .badge,
        .card .bg-green .badge,
        .card .bg-light-green .badge,
        .card .bg-lime .badge,
        .card .bg-yellow .badge,
        .card .bg-amber .badge,
        .card .bg-orange .badge,
        .card .bg-deep-orange .badge,
        .card .bg-brown .badge,
        .card .bg-grey .badge,
        .card .bg-blue-grey .badge,
        .card .bg-black .badge {
            background-color: #fff;
            color: #555;
        }

    .card .header {
        color: #555;
        padding: 20px;
        position: relative;
        border-bottom: 1px solid rgba(204, 204, 204, 0.35);
    }

        .card .header .header-dropdown {
            position: absolute;
            top: 20px;
            right: 15px;
            list-style: none;
        }

            .card .header .header-dropdown .dropdown-menu li {
                display: block !important;
            }

            .card .header .header-dropdown li {
                display: inline-block;
            }

            .card .header .header-dropdown i {
                font-size: 20px;
                color: #999;
                -moz-transition: all 0.5s;
                -o-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
            }

                .card .header .header-dropdown i:hover {
                    color: #000;
                }

        .card .header h2 {
            margin: 0;
            font-size: 18px;
            font-weight: normal;
            color: #111;
        }

            .card .header h2 small {
                display: block;
                font-size: 12px;
                margin-top: 5px;
                color: #999;
                line-height: 15px;
            }

                .card .header h2 small a {
                    font-weight: bold;
                    color: #777;
                }

        .card .header .col-xs-12 h2 {
            margin-top: 5px;
        }

    .card .body {
        font-size: 16px;
        color: #555;
        padding: 20px;
    }

        .card .body .col-xs-1,
        .card .body .col-sm-1,
        .card .body .col-md-1,
        .card .body .col-lg-1 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-2,
        .card .body .col-sm-2,
        .card .body .col-md-2,
        .card .body .col-lg-2 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-3,
        .card .body .col-sm-3,
        .card .body .col-md-3,
        .card .body .col-lg-3 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-4,
        .card .body .col-sm-4,
        .card .body .col-md-4,
        .card .body .col-lg-4 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-5,
        .card .body .col-sm-5,
        .card .body .col-md-5,
        .card .body .col-lg-5 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-6,
        .card .body .col-sm-6,
        .card .body .col-md-6,
        .card .body .col-lg-6 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-7,
        .card .body .col-sm-7,
        .card .body .col-md-7,
        .card .body .col-lg-7 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-8,
        .card .body .col-sm-8,
        .card .body .col-md-8,
        .card .body .col-lg-8 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-9,
        .card .body .col-sm-9,
        .card .body .col-md-9,
        .card .body .col-lg-9 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-10,
        .card .body .col-sm-10,
        .card .body .col-md-10,
        .card .body .col-lg-10 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-11,
        .card .body .col-sm-11,
        .card .body .col-md-11,
        .card .body .col-lg-11 {
            margin-bottom: 20px;
        }

        .card .body .col-xs-12,
        .card .body .col-sm-12,
        .card .body .col-md-12,
        .card .body .col-lg-12 {
            margin-bottom: 20px;
        }




#HeroImage .jumbotron {
    background-image: url(../img/SplitShire-5137_small.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #FFF;
    position: relative;
    z-index: 1002;
}

#BigVideo {
    margin-top: 70px;
}

    #BigVideo .jumbotron h1 {
        font-size: 10em;
        font-weight: lighter;
    }


#Nav a {
    color: #FFF;
}

    #Nav a:hover {
        color: #333;
    }

video {
    /*z-index:-100;*/
    position: relative;
    /*display: block;*/
    width: 100%;
    overflow: auto;
    padding: 0px;
    margin: 0px;
}

.VideoWrapper {
    z-index: 1001;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
}

    .VideoWrapper .jumbotron {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 5px;
        right: 0;
        left: 0;
        display: block;
        background-color: rgba(0,0,0,0.0);
    }

        .VideoWrapper .jumbotron a {
            color: #FFF;
        }

.Overlay {
    z-index: 1000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    background-color: rgba(0,0,0,0.5);
}

.jumbotron {
    margin-bottom: 0;
    padding-bottom: 0;
}

.Vcenter {
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
    /*display:table-cell;
	vertical-align:middle;
	*/
}


.Vcenter2 {
    padding-top: 35%;
    padding-bottom: 35%;
    text-align: center;
    /*display:table-cell;
	vertical-align:middle;
	*/
}


#Nav .navbar-right {
    padding-right: 8px;
    font-family: Calibri;
    font-size: 16px;
    line-height: 24px;
}

.navbar {
    margin-bottom: 0;
}

#Nav3 .navbar-fixed-top {
    top: 0px;
    background-color: #FFF;
    text-align: right;
    height: 40px;
}

    #Nav3 .navbar-fixed-top h3 {
        color: #6b8cb0;
    }

#Nav2 .navbar-fixed-top {
    top: 100px;
    background-color: #f0e6c2;
}


#Nav2 .navbar-right {
    padding-right: 20px;
    color: #999;
}

#Nav2 .navbar-fixed-top .navbar-brand {
    color: #FFF;
    padding-left: 45px;
}


.navbar-default .navbar-brand {
    margin-top: -15px;
    color: #FFF;
}

.navbar-default .navbar-text {
    color: #000;
}

.Divider-Vertical {
    height: 25px;
    margin: 15px 20px;
    border-right: 1px solid #FFF;
}

.Divider-Vertical-2 {
    height: 20px;
    margin-top: 15px 20px 20px 10px;
    border-right: 1px solid #999;
}

.Divider-Vertical-3 {
    height: 250px;
    border-right: 1px solid #999;
}

.navbar-default {
    top: 40px;
    background-color: #6b8cb0;
    padding-top: 10px;
    padding-bottom: 15px;
    /*	background-color: rgba(0,0,0,0.0);
	border-color: rgba(0,0,0,0.0); */
}

#Nav2 a:hover {
    text-decoration: none;
    color: #D8773e;
}

#Nav2 .navbar-right:hover {
    display: block;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
}

#CompanyIntro {
    position: relative;
    z-index: 1001;
    padding-top: 100px;
    padding-bottom: 15px;
    border-bottom: rgba(150,150,150,0.6) thin solid;
    background-color: #FFF;
}

    #CompanyIntro p, h3 {
        color: #666;
    }

    #CompanyIntro p {
        line-height: 28px;
    }

    #CompanyIntro .col-lg-12 h2 {
        font-size: 5em;
        padding-bottom: 50px;
    }

    #CompanyIntro .col-lg-12 {
        margin-top: 0;
        padding-top: 0;
        /*background-color:#e74c3c; */
    }

    #CompanyIntro .col-lg-8 {
        margin-right: 0;
    }

    #CompanyIntro .col-lg-6 {
        text-align: center;
    }

        #CompanyIntro .col-lg-6 h1 {
            font-size: 10em;
            display: inline-block;
        }

    #CompanyIntro .col-lg-4 h1 {
        font-size: 4em;
    }

.CompanyPadding {
    Padding-top: 70px;
}

.CompanyPadding-2 {
    Padding-top: 260px;
}

#CompanyIntro h5 {
    font-family: Calibri;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    font-weight: lighter;
    color: #d87733;
    background-color: #666;
    padding-left: 45px;
}


.FNG_tan {
    color: #f1e7c3;
}

.FNG_DGray {
    color: #21393F;
}

.FNG_Green {
    color: #9ba059;
}

.FNG_Purple {
    color: #553D75;
}

.FNG_Orange {
    color: #d8773e;
}

.FNG_Orange_Part {
    background-image: url(../../2015RedesignFNG08/img/interior-7_background.jpg);
    background-size: cover;
}

.FNG_Blue {
    color: #6c8cB0;
    font-size: 30px;
}



.Ranking {
    color: #6c8cB0;
}

.Ranking-2 {
    color: #F1e7c3;
}

#myCarousel, #myCarousel-1 {
    height: 650px;
}

#CompanyIntro .carousel-indicators li {
    background-color: #6b8cb0;
    border: 1px solid #6b8cb0;
}

#CompanyIntro .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #000;
    border: 1px solid #000;
}


.LogoPaddingFNG {
    Padding-top: 44px;
    Padding-bottom: 44px;
}

.LogoPadding {
    Padding-top: 60px;
}

#Location .jumbotron {
    background-image: url(../img/webmap-03.png);
    background-size: cover;
    width: 100%;
    height: 500px;
    overflow: hidden;
    color: #FFF;
    padding-top: 175px;
    padding-bottom: 150px;
}

.LocationPadding {
    padding-left: 15%;
    padding-right: 15%;
}

/**************************************** Innovation *********************/

#Innovation {
    position: relative;
    z-index: 1001;
    padding-bottom: 50px;
    border-bottom: rgba(150,150,150,0.6) thin solid;
    /*background-color:#d8773e;*/
    background-color: #D8773E;
}

    #Innovation p, h3 {
        color: #FFF;
        position: relative;
        z-index: 1002;
    }

    #Innovation p {
        line-height: 28px;
    }

    #Innovation .col-lg-12 h2 {
        font-size: 5em;
        color: #FFF;
        padding-bottom: 50px;
    }

    #Innovation .col-lg-4 h3 {
        font-size: 30px;
        color: #FFF;
        padding-bottom: 25px;
    }

    #Innovation .col-lg-12 {
        margin-top: 0;
        padding-top: 0;
        /*background-color:#e74c3c; */
    }

    #Innovation .col-lg-8 img {
        margin-left: -120px;
        padding-top: 0;
        /*background-color:#e74c3c; */
    }

    #Innovation .col-lg-8 {
        margin-right: 0;
    }

.InnovationPadding {
    padding-top: 150px;
}

.InnovationPadding-top {
    padding-top: 5px;
    margin-top: 0;
}

.InnovationPadding-Right {
    padding-right: 400px;
}

.InnovationPadding-top {
    padding-top: 110px;
}

#Innovation .col-lg-6 h1 {
    font-size: 10em;
    display: inline-block;
    margin-bottom: 0;
}


#Innovation h2 {
    font-size: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#Innovation .carousel-indicators li.active {
    border: 1px solid #FFF;
    background-color: #FFF;
}

#Innovation .carousel-indicators li {
    bottom: -50px;
    background-color: none;
    border: 1px solid #FFF;
}


/* #Innovation ol {
	bottom:-100px;
	
	} */

/**************************************** Engineering *********************/


#Engineering {
    position: relative;
    z-index: 1001;
    border-bottom: rgba(150,150,150,0.6) thin solid;
    background-color: #FFF;
    overflow: hidden;
}

    #Engineering p, h3 {
        color: #666;
    }

    #Engineering p {
        line-height: 28px;
    }

    #Engineering .col-lg-12 h2 {
        font-size: 5em;
        color: #666;
        padding-bottom: 50px;
    }

    #Engineering .col-lg-12 {
        margin-top: 0;
        padding-top: 0;
        /*background-color:#e74c3c; */
    }

    #Engineering .col-lg-8 img {
        margin-left: -120px;
        padding-top: 0;
        /*background-color:#e74c3c; */
    }

    #Engineering .col-lg-4 {
        padding-top: 150px;
    }

    #Engineering .col-lg-6 {
        text-align: left;
    }

.EngineeringText-right {
    padding-top: 5%;
    padding-right: 20%;
    padding-bottom: 0;
}

#Engineering .col-lg-6 h1, h2 {
    font-size: 6em;
    color: #D8773e;
    font-family: Calibri;
    font-weight: bold;
}

#Engineering .col-lg-6 h3 {
    font-size: 1.5em;
    color: #666;
}

#Engineering .col-lg-6 p {
    color: #999;
}

#Engineering h2 {
    font-size: 50px;
}


#Engineering ol {
    bottom: -10px;
}

/**************************************** Footer *********************/

.Footer {
    padding-top: 20px;
    background-color: #000;
    padding-bottom: 80px;
    color: #FFF;
}

.FooterLower {
    background-color: #21393f;
    padding-bottom: 30px;
}


    .FooterLower a {
        text-decoration: none;
        color: #999;
    }

.Footerpadding-left {
    padding-left: 20px;
}

.Footerpadding-right {
    padding-right: 20px;
}

.Footer .col-lg-2 li a {
    text-decoration: none;
    color: #999;
}

    .Footer .col-lg-2 li a:hover {
        color: #6c8cb0;
    }

.FooterBold-Text {
    font-family: Calibri;
    font-size: 26px;
}

.Footer .col-lg-2 ul {
    list-style-type: none;
}

    .Footer .col-lg-2 ul > li {
        padding-bottom: 5px;
    }


.fa-chevron-left {
    padding-top: 200px;
}

.fa-chevron-right {
    padding-top: 200px;
}

/**************************************** MOBILE *********************/

@media (max-width: 1200px) {

    #BigVideo .jumbotron h1 {
        font-size: 5em;
    }

    #Engineering img {
        padding-left: 0;
    }
}


@media (max-width: 1198px) {

    #CompanyIntro {
        padding-bottom: 320px;
    }

        #CompanyIntro .carousel-indicators {
            bottom: -325px;
        }

    /* 	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
		
		display:block;
		height:auto;
		width:20%;
		} */

    #Innovation {
        height: 750px;
    }

        #Innovation img {
            display: block;
            height: auto;
            width: 100%;
            margin-left: -80px;
        }

        #Innovation .col-sm-4 img {
            display: none;
        }

        #Innovation h1 {
            padding-top: 5px;
        }

        #Innovation h1, h2, h4, p, img {
        }

        #Innovation .col-sm-6 h1 {
            padding-top: 80px;
            font-size: 6em;
            display: inline-block;
            margin-bottom: 0;
        }

    .InnovationPadding-Right {
        padding-right: 20px;
    }


    #Engineering .col-sm-6 h1 {
        font-size: 5em;
        font-weight: bold;
        color: #D8773e;
    }
}



@media (max-width: 767px) {


    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height: 340px;
        max-width: 200px;
    }

    #Nav2 {
        display: none;
    }

    #Nav3 .navbar-fixed-top h3 {
        color: #6b8cb0;
        font-size: 15px;
    }

    #Nav .navbar-right {
        padding-right: 8px;
        font-family: Calibri;
        font-size: 15px;
        line-height: 24px;
        overflow-y: visible;
    }

    /****************** MOBILE BigVideo ****/

    #BigVideo .jumbotron h1 {
        font-size: 2em;
    }


    #BigVideo h1 {
        font-size: 20px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    #BigVideo {
        /*background-image:url(../img/Home_Small.jpg);*/
        background-color: gray;
        height: 400px;
    }

    video {
        display: none;
    }

    /****************** MOBILE Company ****/

    #CompanyIntro ol {
        bottom: -150px;
    }

    #CompanyIntro .col-lg-6 h1 {
        font-size: 5em;
        display: inline-block;
    }

    #CompanyIntro .col-lg-4 h1 {
        padding-left: 5%;
    }

    #CompanyIntro .col-lg-12 h2 {
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }


    #CompanyIntro {
        border-bottom: none;
    }

    /****************** MOBILE Engineering ****/

    #Engineering ol {
        bottom: -10px;
    }


    #Engineering .col-lg-6 h1 {
        font-size: 25px;
    }


    #Engineering .col-lg-6 h1, h3, h5, p {
        padding-left: 5%;
    }

    /****************** Mobile Location ****/

    #Location .jumbotron {
        padding-top: 50px;
        padding-bottom: 5px;
        height: 75%;
    }

    .LocationPadding {
        padding-left: 5%;
        padding-right: 5%;
    }


    /****************** Mobile Innovation ****/
    #Innovation {
        padding-bottom: 150px;
    }


        #Innovation .col-lg-12 h2 {
            font-size: 30px;
            display: inline-block;
        }

        #Innovation .col-lg-4 h2 {
            font-size: 15px;
        }

    .InnovationPadding-Right {
        padding-right: 15px;
    }

    .InnovationPadding {
        padding-top: 5px;
    }

    #Innovation .col-lg-6 h1 {
        font-size: 40px;
        font-weight: bold;
    }


    #Innovation img {
        display: block;
        height: auto;
        width: 80%;
        margin-left: -60px;
    }

    #Innovation .col-lg-4 img {
        display: none;
    }

    #Innovation h1, h2, h3, h4, p {
        padding-left: 5%;
    }

    #Innovation .carousel-indicators {
        bottom: -105px;
    }


    .LogoPadding {
        Padding-top: 20px;
    }
}

@media (max-width: 568px) {


    #Location .jumbotron {
        /* padding-bottom:150px; */
        height: 600px;
    }

    #Location i {
        padding-bottom: 50px;
    }

    .LocationPadding {
        padding-bottom: 10%;
    }

    #Innovation ol {
        bottom: -150px;
    }
}
