@model IEnumerable<Flex_SGM.Models.Comments>

<ul class="list-unstyled msg_list">
    @foreach (var item in Model)
    {
        <li>
            <a>
                <span class="image">
                    <img src="~/Users/@item.Usuario/user.png" alt="img" />
                </span>
                <span>
                    <span>  @item.Usuario</span>
                    <time class="timeago" datetime="@item.fecha.ToString("yyyy-MM-ddTHH:mm:sszzz");">@item.fecha.ToString("yyyy-MM-ddTHH:mm:sszzz"); </time>
                </span>
                <span class="message">
                    @Html.DisplayFor(modelItem => item.message)
                </span>
            </a>
        </li>
    }
</ul>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
